{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <h4>Welcome to Geraldine the Search Machine</h4>
    <p>Geraldine is a search machine which is connected to a database containing the AQUAINT corpus consisting of English news articles from three sources: the Xinhua News Service,
        the New York Times News Service, and the Associated Press Worldstream News Service.</p>

    <h5>Task</h5>
    <p>You are asked to perform search tasks based on a certain topic. Select the results that you think are relevant and mark them.</p>

    <p>After the search task three questions will be asked for the purpose of this research. We not provide any information regarding the research since we do not want to bias this.</p>

    <p><b>This task will take less than 15 minutes!</b></p>

    <h5>TL;DR</h5>
    <ul>
        <li>Search relevant documents according to the topic</li>
        <li>Mark them as relevant</li>
        <li>Answer questions</li>
    </ul>

    <p>Good luck and thank you for participating!</p>

    {% next_button %}

{% endblock %}
