{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Search Task
{% endblock %}

{% block content %}

    <p>Your task is to find relevant documents for the topic: <b>{{ player.topicname }}</b></p><br>

    <p>{{ player.topicdes }}</p><br>

    <p>{{ player.topicnar }}</p><br>

    <!--Search form-->
    <input class="search" id="search_field" type="text" name="search" value="" placeholder="Search..">
    <input type="submit" id="search_button" value="Search">

    <hr>

    <!--Results-->
    <div id="serp">
      <div id="results"></div>
      <div>
        <a href="javascript:void(0)" onclick="prevPage()" class="btn btn-secondary">&lt; previous page</a>
        <a href="javascript:void(0)" onclick="nextPage()" class="btn btn-secondary">next page &gt;</a>
      </div>
      Current page: <span id="current_page">1</span>
    </div>
    <div id="search_page"></div>


    <!--Logs-->
    <input type="hidden" name="total_task_time" value="{{ timeout_value }}" id="total_task_time">
    <!--Value based-->
    <input type="hidden" name="relevant_marks" id="relevant_marks" value="">
    <!--Count based-->
    <input type="hidden" name="marked_as_relevant" id="marked_as_relevant" value="0">
    <input type="hidden" name="queries_issued" id="queries_issued" value="0">
    <input type="hidden" name="documents_viewed" id="documents_viewed" value="0">
    <input type="hidden" name="serps_viewed" id="serps_viewed" value="0">
    <!--Time based-->
    <input type="hidden" name="document_view_time" id="document_view_time" value="0">
    <input type="hidden" name="serp_view_time" id="serp_view_time" value="0">
    <!--View based-->
    <input type="hidden" name="hover_depth" id="hover_depth" value="0">
    <input type="hidden" name="current_hover_depth" id="current_hover_depth" value="0">



{% endblock %}

{% block styles %}

    <!--CSS-->
    <style type="text/css">

        .search_result {
          margin-bottom: 20px;
        }
        .search_result_title {
          font-weight: bold;
        }
        #serp {
          display: none;
        }

        p {
            margin-bottom: 0;
        }

        #results>div {
            margin-bottom: 16px;
        }
    </style>

{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js" integrity="sha256-btLQj6RlkxXK4cg6XHngg3OVgPdiD3QlkaYMZacCmpA=" crossorigin="anonymous"></script>


  <!--Template SERP items-->
  <script id="resultsTemplate" type="text/x-jsrender">
  <div class="search_result">
    <a href="javascript:void(0)" class="search_result_title" onclick="showDocument('{% templatetag openvariable %}:_id{% templatetag closevariable %}')">{% templatetag openvariable %}:_source.headline{% templatetag closevariable %}</a><br>
    {% templatetag openvariable %}:_source.body{% templatetag closevariable %}
  </div>
  </script>

  <!--Template for a single document-->
  <script id="documentTemplate" type="text/x-jsrender">
  <h1>{% templatetag openvariable %}:_source.headline{% templatetag closevariable %}</h1>
  {% templatetag openvariable %}include tmpl="#relevantButtonTemplate"/{% templatetag closevariable %}

  <div class="search_page_content" style="margin: 20px 0 20px 0">
    {% templatetag openvariable %}:_source.body[0]{% templatetag closevariable %}
  </div>

  {% templatetag openvariable %}include tmpl="#relevantButtonTemplate"/{% templatetag closevariable %}
  </script>

  <!--Mark or unmark as relevance (used in #documentTemplate)-->
  <script id="relevantButtonTemplate" type="text/x-jsrender">
  <div>
    <a href="javascript:void(0)" onclick="backToSearchPage()" class="btn btn-secondary">Back to search results</a>
    {% templatetag openvariable %}if marked_relevant{% templatetag closevariable %}
      <a href="javascript:void(0)" onclick="unmarkAsRelevant('{% templatetag openvariable %}:_source.docno{% templatetag closevariable %}','{% templatetag openvariable %}:_id{% templatetag closevariable %}')" class="btn btn-secondary">Unmark as relevant</a>
      You marked this document as relevant.
    {% templatetag openvariable %}else{% templatetag closevariable %}
      <a href="javascript:void(0)" onclick="markAsRelevant('{% templatetag openvariable %}:_source.docno{% templatetag closevariable %}','{% templatetag openvariable %}:_id{% templatetag closevariable %}')" class="btn btn-secondary">Mark as relevant</a>
    {% templatetag openvariable %}/if{% templatetag closevariable %}
  </div>
  </script>

  <!--Javascript-->
  <script>
  // rendering templates
  var resultsTmpl = $.templates("#resultsTemplate");
  var documentTmpl = $.templates("#documentTemplate");

  // SERP number
  var page = 0;
  // timer used to measure how long document pages were viewed
  var documentOpenedTimer;
  // timer used to measure how long SERPs were viewed
  var SERPOpenedTimer;
  // the maximum SERP number for the current query
  var currentMaxSERP = 0;
  // number of results per SERP
  const resultsPerSERP = 10;

  // template for search request
  var dataString = {
      "from" : 0,
      "size" : resultsPerSERP,
      "query": {
          "query_string" : {
              "fields" : ["headline", "body"],
              "query" : ""
          }
      }
  };

  // increment the value of a hidden input
  function increment(field){
    var curr = parseInt($('#' + field).val());
    $('#' + field).val(curr + 1);
  }
  // increase the value of a hidden input
  function increase(field, value) {
    var curr = parseFloat($('#' + field).val());
    $('#' + field).val(curr + value);
  }

  // start timer for document_view_time
  function startDocumentOpenedTimer() {
    if(documentOpenedTimer != null) {
      clearInterval(documentOpenedTimer);
    }
    var time = getTime();
    documentOpenedTimer = setInterval(function(){
      var currTime = getTime();
      var diff = currTime - time;
      increase('document_view_time', diff);
      time = currTime
    }, 100);
  }
  // stop the timer for document_view_time
  function stopDocumentOpenedTimer() {
    clearInterval(documentOpenedTimer);
    documentOpenedTimer = null;
  }

  // start timer for document_view_time
  function startSERPOpenedTimer() {
    if(SERPOpenedTimer != null) {
      clearInterval(SERPOpenedTimer);
    }
    // use this to prevent drift (https://www.quora.com/How-accurate-are-JavaScript-timers)
    var time = getTime();
    SERPOpenedTimer = setInterval(function(){
      var currTime = getTime();
      var diff = currTime - time;
      increase('serp_view_time', diff);
      time = currTime
    }, 100);
  }
  // stop the timer for document_view_time
  function stopSERPOpenedTimer() {
    clearInterval(SERPOpenedTimer);
    SERPOpenedTimer = null;
  }

  // show SERP
  function backToSearchPage() {
    goToPage(page);
  }

  // mark a document as relevant
  // 1) store docno in hidden input
  // 2) rerender document by ID to show different button
  function markAsRelevant(docno, id) {
    increment('marked_as_relevant');
    var docnos = $('#relevant_marks').val().split(',');
    docnos.push(docno);
    $('#relevant_marks').val(docnos.join(','));
    renderDocument(id);
  }

  // unmark a document as relevant
  // 1) remove docno from hidden input
  // 2) rerender document by ID to show different button
  function unmarkAsRelevant(docno, id) {
    var docnos = $('#relevant_marks').val().split(',');
    var index = docnos.indexOf(docno);
    if (index > -1) {
      docnos.splice(index, 1);
    }
    $('#relevant_marks').val(docnos.join(','));
    renderDocument(id);
  }

  // get time in milliseconds
  function getTime() {
    var d = new Date();
    return d.getTime();
  }

  // increase the amount of documents viewed and render it
  function showDocument(id) {
    increment('documents_viewed');
    startDocumentOpenedTimer();
    stopSERPOpenedTimer();
    // handleSERPTiming(false);
    renderDocument(id);
    window.scrollTo(0,0);
  }

  // show a document by Elastic ID
  function renderDocument(id) {
    relevant_marks = $('#relevant_marks').val().split(',');
    $.ajax({
        method: 'GET',
        url: "http://35.190.214.52:9200/roy/_doc/" + id,
        dataType: 'json',
        contentType: 'application/json',
        success: function(data) {
            // is the doc marked as relevant or not?
            data.marked_relevant = relevant_marks.indexOf(data._source.docno) !== -1
            // show document
            console.log(data);
            $('#serp').hide();
            $('#search_page').html(documentTmpl.render(data));
            $('#search_page').show();
        },
        error: function(e) {
          alert('Something went wrong when the page. Please try again.');
          console.log(e);
        }
    });
  }

  // show previous SERP
  function prevPage() {
    goToPage(page - 1);
  }

  // show next SERP
  function nextPage() {
    goToPage(page + 1);
  }

  // show specific page
  function goToPage(newPage) {
    if(newPage >= 0) {
      page = newPage;
      doSearch(page);
    }
    window.scrollTo(0,0);
    $('#current_page').html(page+1);
  }

  // only increment serps_viewed when the user hasn't visited this SERP for this query yet
  function handleSERPsViewed() {
    if(page > currentMaxSERP) {
      increment('serps_viewed');
      currentMaxSERP = page;
    }
  }

  // query elastic and render the results page
  function doSearch(page) {
    var searchid = $('#search_field').val();
    if(searchid!='') {
      stopDocumentOpenedTimer();
      startSERPOpenedTimer();
      handleSERPsViewed();
      // implicit ANDing of search terms
      searchid = searchid.trim().replace(' ', ' AND ');
      // fill payload
      dataString.query.query_string.query = searchid;
      dataString.from = page;
      $.ajax({
          method: 'POST',
          url: "http://35.190.214.52:9200/_search",
          dataType: 'json',
          contentType: 'application/json',
          processData: false,
          data: JSON.stringify(dataString),
          success: function(data) {
              // remove html tags from body field
              data = $.map(data.hits.hits, function(n, i){
                // body = n._source.body.constructor === Array ? n._source.body[0] : n._source.body;
                d = $(n._source.body[0]);
                n._source.body = d.text().substring(0, 255);
                return n;
              });
              // show results
              console.log(data);
              $('#search_page').hide();
              $('#results').html(resultsTmpl.render(data));
              $('#serp').show();
          },
          error: function(e) {
            alert('Something went wrong when retrieving your search results. Please try again.');
            console.log(e);
          }
      });
    }
  }

  // process a query a user submitted
  function processQuery() {
    page = 0;
    currentMaxSERP = 0;
    doSearch(page);
    increment('queries_issued');
    increment('serps_viewed');
    increase('hover_depth', parseFloat($('#current_hover_depth').val()));
    $('#current_hover_depth').val(0);
  }

  $(window).scroll(function(event) {
    if($('#results').is(":visible") && page == 0) {
      var docViewTop = $(window).scrollTop();
      var docViewBottom = docViewTop + $(window).height();

      var resultsOffset = $('#results').offset().top;
      var resultsVisible = docViewBottom - resultsOffset;

      var resultsHeight = $('#results').height();

      var percentageViewed = parseFloat(resultsVisible) / parseFloat(resultsHeight);
      if(percentageViewed > 1) {
        percentageViewed = 1;
      }

      if(percentageViewed > parseFloat($('#current_hover_depth').val())) {
        $('#current_hover_depth').val(percentageViewed);
      }
    }
  });

  $(function(){
    // when enter is pressed on the search field
    $('#search_field').keydown(function(event){
      if(event.keyCode == 13) {
        processQuery();
        event.preventDefault();
        return false;
      }
    });
    // when the search button is clicked
    $('#search_button').click(function(event){
      processQuery();
      event.preventDefault();
      return false;
    });
  });

  // prevent the user from refreshing page
  window.addEventListener("beforeunload", function (e) {
      var confirmationMessage = 'When you close this page all your session data will be gone :( Select OK if you really want to leave, or Cancel otherwise.)';

      // dont block when oTree submits page
      if(document.getElementsByName('timeout_happened').length == 0) {
        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
      }
  });
  </script>

{% endblock %}
