{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Search Task
{% endblock %}

{% block content %}

    <p>Your task is to find relevant documents for the topic: {{ player.topic }}</p>

    <!--Search form-->
    <form>
        <input class="search" type="text" name="search" placeholder="Search..">
    </form>

    <!--Results-->
    <div id="results">
        Results...
    </div>

    <!--Logs-->
    <input type="hidden" name="total_task_time"
    value="300" id="total_task_time"/>

    {% next_button %}

{% endblock %}

{% block styles %}

    <!--CSS-->
    <style type="text/css">
        input[type=text] {
            width: 100%;
        }
    </style>

{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js" integrity="sha256-btLQj6RlkxXK4cg6XHngg3OVgPdiD3QlkaYMZacCmpA=" crossorigin="anonymous"></script>


  <script id="resultsTemplate" type="text/x-jsrender">
  <div>
    <b>{% templatetag openvariable %}:_source.headline{% templatetag closevariable %}</b>
  </div>
  </script>

  <!--Javascript-->
  <script>
  var resultsTmpl = $.templates("#resultsTemplate");

  $(function(){
    $(".search").keyup(function() {
      var searchid = $(this).val();
      var dataString = {
          "from" : 0,
          "size" : 10,
          "query": {
              "query_string" : {
                  "fields" : ["headline", "body"],
                  "query" : "economy"
              }
          }
      };

      if(searchid!='') {
        dataString.query.query_string.query = searchid;
        $.ajax({
            method: 'POST',
            url: "http://35.190.214.52:9200/_search",
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            data: JSON.stringify(dataString),
            success: function(data) {
                console.log(data)
                $('#results').html(resultsTmpl.render(data.hits.hits));
            },
            error: function(e) {
              console.log(e);
            }
        });
      }
      return false;
    });
  });
  </script>

{% endblock %}
